.popup__button-close{
    border: none;
    position: absolute;
    top: -38px;
    right: -38px;
    padding: 0;
    background-color:  rgba(0, 0, 0, 1);
}
.popup__button-close:hover{
    opacity: .8;
}
@media screen and (max-width: 890px) {
    .popup__button-close{
        top: -40px;
        right: -0;
    }
}