.popup__sumbitButton{
    width: 109px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 14px auto 18px;
}
@media screen and (max-width: 890px) {
    .popup__sumbitButton{
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 14px;
    }
}